<nav class="navbar navbar-inverse primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"></a>
    </div>
    <ul class="nav navbar-nav d-flex flex-row">
      <li><a href="/">Home</a></li>
      {% if username %}
      <li><a href="/tasks">My Tasks</a></li>
      {% endif %}
    </ul>
    <div>

      <ul class="nav navbar-nav navbar-right d-flex flex-row">
        {% if username == undefined %}
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
        {% if username %}
          <li class="">
              <a class="nav-link" href="/profile">My profile{% if username %} ({{ username }}){% endif %}</a>
          </li>
          <form class="d-flex" action="/logout" method="post">
          <button class="btn btn-primary" type="submit">Logout</button>
        </form>
        {% endif %}
      </ul>
      
    </div>
  </div>
</nav>