<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"></a>
    </div>
    <ul class="nav navbar-nav d-flex flex-row">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/profile">Page 1</a></li>
      <li><a href="/">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right d-flex flex-row">
      {% if username == undefined %}
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
      {% if username %}
        <li class="nav-item">
            <a class="nav-link" href="/profile">My profile{% if username %} ({{ username }}){% endif %}</a>
        </li>
      {% endif %}
    </ul>
    {% if username %}
      <form class="d-flex" action="/logout" method="post">
        <button class="btn btn-primary" type="submit">Logout</button>
      </form>
    {% endif %}
  </div>
</nav>