<div>
    <form action="/profile" method="post">
        <div class="input-group">
            <input type="text" name="task" id="task" values="{{ task }}" placeholder="Write a task" required="required">
                <button type="submit" class="input-group-text">Add task</button>
            </div>
        </form>
    </div>