<div class="taskform">
    <form class="gy-2 gx-3 align-items-center" action="/tasks" method="post">
        <div class="mb-3 pt-3 d-flex">
            <input class="form-control" type="text" name="task" id="task" values="{{ task }}" placeholder="Write a task" required="required">
            <button type="submit" class="input-group-text btn btn-primary col-auto">Add task</button>
        </div>
    </form>
</div>