{% extends "layout.njk" %}
{% block  content %}
{% include "components/navbar.njk" %}

<img src="https://avatars.dicebear.com/api/miniavs/{{username}}.svg" alt="profile picture" width="400" height="400">
<h1>{{username}}</h1>

{% endblock %}